__pycache__/
*.py[cod]
*$py.class
.vscode/
output/
weights/
figures/*git
*.csv
demo_tmp
demo/*
!demo/README.md
stat.py
*.json
eval_local.py
lightning_logs/
launch_sh/
/data/
huong_dan_chay_diligent.txt
venv/